<!DOCTYPE html>
<html>

<head>
    <title>HTML5 canvas-满天飘雪</title>
    <meta charset="UTF-8">
    <meta name="description" content="HTML5 canvas 学习练习" />
    <meta name="keywords" content="HTML5,JS,CSS,canvas" />
    <link rel="shortcut icon" href="/view/imgs/步行.png" />
    <link rel="stylesheet" type="text/css" href="/view/css/index.css" media="all" />
</head>

<body>
   <article>
       <canvas class="header"  data-content="snowFlow">满天飘雪</canvas>
       <section class="container">
           <canvas id="canvas-3" title="满天飘雪"></canvas>
       </section>
   </article>
    <script type="text/javascript" data-main="/view/js/index" src="/lib/requirejs/require.min.js"></script>
</body>

</html>
