<!DOCTYPE html>
<html>
<head>
    <title>加载 JSON 数据</title>
    <meta charset="UTF-8">
    <meta name="description" content="一些JS及CSS的小技巧解决大问题的经验" />
    <meta name="keywords" content="JS,CSS,经验" />
    <link rel="shortcut icon" href="/view/imgs/步行.png" />
    <link rel="stylesheet" type="text/css" href="/view/css/tab1.css" media="all" />
</head>
<body >
	<div id="_main_">
		
	</div>
	<div id="_second_">
	
	</div>
	<div class="clear"></div>
<script type="text/javascript" data-main="/view/js/tab1.js" src="/lib/requirejs/require.min.js"></script>
</body>
</html>