//pug 模板语法
doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport",
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        )
        meta(name="author", content="FlyTiger")
        link(rel="icon", href="/images/step.png")
        link(rel="shortcut icon", href="/images/step.png")
        link(rel="bookmark", href="/images/step.png")
        link(rel="stylesheet", type="text/css", href="/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/style/wssIndex.css")
        title #{title}
    body

        h1 websockets测试

        div.clearfix
            div.pull-left.w50.p10
                div.input-group.input-group-lg
                    input.form-control
                    span.input-group-btn.socketLink
                        button.btn.btn-lg.btn-primary 发送1

            div.pull-right.w50.p10
                div.input-group.input-group-lg
                    input.form-control
                    span.input-group-btn.socketLink
                        button.btn.btn-lg.btn-primary 发送2
        div.clearfix
            div.p10.pull-left.socket-content.clearfix
            div.p10.pull-right.socket-content.clearfix

        script(src="/lib/jquery.min.js")
        script(src="/lib/socket.io/socket.io.js")
        script(src="/js/wssIndex.js")
